<div class="d-flex justify-content-between align-items-center p-3">
    <div>
        <h4>Current conditions: {{location.data.weather[0].main}}</h4>
        <h4>Temperatures today:</h4>
        <p>
            Current {{location.data.main.temp | number:'.0-0'}}
            - Max {{location.data.main.temp_max | number:'.0-0'}}
            - Min {{location.data.main.temp_min | number:'.0-0'}}
        </p>
        <p>
            <a (click)="show(location.zip)" href="javascript:void(0)">Show 5-day forecast for {{location.data.name}}</a>
        </p>
    </div>
    <div>
        <img [src]="icon" alt="{{location.data.weather[0].main}}">
    </div>
</div>
