<mat-tab-group
        *ngIf="allLocations$ | async as allLocations"
        mat-align-tabs="start"
        mat-stretch-tabs="false"
        preserveContent>
    <mat-tab *ngFor="let location of allLocations">
        <ng-template mat-tab-label>
            <div class="d-flex justify-content-between align-items-center">
                <strong>{{location.data.name}} ({{location.zip}})</strong>
                <span (click)="removeLocation(location.zip)" class="close-btn">&times;</span>
            </div>
        </ng-template>
        <app-condition-tab
                (showForecast)="showForecast($event)"
                [icon]="getIcon(location.data.weather[0].id)"
                [location]="location"
        ></app-condition-tab>
    </mat-tab>
</mat-tab-group>
