<div *ngIf="forecast$ | async as forecast; else noContent">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">5-day forecast for {{forecast?.city.name}}</h3>
        </div>
        <ul class="list-group">
            <li *ngFor="let dailyForecast of forecast.list" class="list-group-item">
                {{ (dailyForecast.dt * 1000) | date:'EEEE, MMM d'}}:
                {{dailyForecast.weather[0].main}}
                - Min: {{dailyForecast.temp.min | number:'.0-0'}}
                - Max: {{dailyForecast.temp.max | number:'.0-0'}}

                <img [alt]="dailyForecast.weather[0].description" [src]="getIcon(dailyForecast.weather[0].id)"
                     class="icon">
            </li>
        </ul>
    </div>
</div>
<ng-template #noContent>
    <div class="row h-100 justify-content-center align-items-center">
        <h4>Loading...</h4>
    </div>
</ng-template>
<button [routerLink]="'/'" class="btn btn-success">< Back to main page</button>
